<!DOCTYPE html>
<html lang="en">

<head>


    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p id='text'></p>
    jksanskjn
    <input id="input" value='' placeholder="text message"></input>



    <button onclick="SendMessage()">Send Message</button>
    <p id='message'>

    </p>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>
<script>
    const socket = io();
    let arr = [];
    const { user, room } = Qs.parse(location.search, { ignoreQueryPrefix: true });
    document.querySelector('#text').innerHTML='my name is '+user+' my room is '+room;
    socket.on('message', (message) => {
        //   console.log(message)
        arr.push({
            s: message.username,
            m: message.text,
            t: (Date.now())
        })
        var x=document.querySelector('#message').innerHTML;
        console.log(x);
        x=document.createElement('LI');
        arr.map((val)=>{
            console.log(val.m);
            let x1=document.createTextNode(val.m);
            
            x.appendChild(x1);
        })
        console.log(x);
        console.log(arr);
    })

    function SendMessage() {
        var message = document.querySelector('#input').value;
        socket.emit('sendMessage', message, (message) => {
            if (message!='some network issue') {
                console.log('working fine');
            }
        });
    }
    socket.emit('join', { user, room }, (err) => {
        if (err) {
            alert(err)
            location.href = '/';
        }
    })










</script>

</html>