<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p id='text'></p>
    jksanskjn
    <input id="input" value='' placeholder="text message"></input>
    <button onclick="SendMessage()">Send Message</button>
    <p id='message'>
    </p>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>
<script>
    const socket = io();
    let arr = [];
    const { userId, phoneNo } = Qs.parse(location.search, { ignoreQueryPrefix: true });
    document.querySelector('#text').innerHTML = 'my name is ' + userId + ' my room is ' + phoneNo;

    






    socket.on('message', (message) => {

        arr.push(message)
        var x = document.querySelector('#message').innerHTML;
        console.log(x);
        x = document.createElement('LI');
        arr.map((val) => {
            console.log(val.m);
            let x1 = document.createTextNode(val.m);

            x.appendChild(x1);
        })
        console.log(x);
        console.log(arr);
    })

    function SendMessage() {
        var message = document.querySelector('#input').value;
        socket.emit('sendMessage', { message, userId, phoneNo }, (message) => {
            if (message) {
                alert(message);
            }
        });
    }
    socket.emit('join', { userId, phoneNo }, (message) => {
        if (message) {
            alert(message);
        }
    })










</script>

</html>